.navigation{
    display: flex;
    align-items: center;
    margin-right: 214px;
}
.navigation-list{
    display: flex;
}
@media screen and (max-width: 1380px){
    .navigation{
        margin: 0;
    }
}
@media screen and (max-width: 550px){
    .navigation-list{
        flex-direction: column;
    }
}